body {
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   background-color: grey;
}

#calculator {
   background-color: #931919;
   padding: 20px;
   border-radius: 10px;
   box-shadow: whitesmoke;
   text-align: center;
}

button {
   margin: 10px 5px;
   padding: 10px 20px;
   cursor: pointer;
   background-color: black;
   color: white;
   border: none;
   border-radius: 5px;
}

button:hover {
   background-color: antiquewhite;
}

#result {
   margin-top: 20px;
   font-size: 18px;
}